/* ...........
   mobile view
.............. */
@media only screen and (max-width: 426px) {

    .c-name {
    margin: 0 auto;
    font-size: 25px;
  }
  .menu {
    display: none;
  }
  .top {
    display: grid;
    justify-content: center;
    width: 100%;
  }
  .top img {
    width: 70%;
    margin: 0 auto;
  }
  .half {
    width: 100%;
  }
  .top .text {
    text-align: center;
  }

  /* second */
  .logos ul{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 10px;
}
.logos img{
    width: 100%;
    padding: 5px;
}

  .pp-col {
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .wrapper .items {
    text-align: center;
    margin: 0 auto;
  }

  .down {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  .down img{
      width: 100%;
  }
  .down .text{
      text-align: center;
  }
};




/* tablet view  */

